a {
	color: white;
    font-family: 'gill_sanssemibold';
}

@font-face {
    font-family: 'gill_sanssemibold';
    src: url('../font/gillsans/gillsans-semibold-webfont.eot');
    src: url('../font/gillsans/gillsans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gillsans/gillsans-semibold-webfont.woff2') format('woff2'),
         url('../font/gillsans/gillsans-semibold-webfont.woff') format('woff'),
         url('../font/gillsans/gillsans-semibold-webfont.ttf') format('truetype'),
         url('../font/gillsans/gillsans-semibold-webfont.svg#gill_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
div { 
	width: 100%; 
	height: 20vh; 
	float: left; 
	color: white;
	font-family: 'GillSans';
}

#div1 { background: #F04155; }
#div2 { background: #FF823A; }
#div3 { background: #F2F26F; }
#div4 { background: #FFF7BD; }
#div5 { background: #95CFB7; }